@media screen and (max-width: 1000px) {
    .mainsectionbody{
        display: block;
        
    }
    
    
    .Lefttext{ 
        text-align: center;
    }
    .Righttext{ 
        text-align: center;
    }
    .timerdiv{
        display: none;
    }
    .galist{
        display: none;  
    }
    .textfr{
        font-size: 1px;
    }
  }